<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>Bookers</title>
  </head>

  <body>
    <h2>
      ようこそ
      <strong>Bookers</strong>
      へ！
      </h2>
    <p>
      <strong>Bookers</strong>
      では、さまざまな書籍に関するあなたの意見や
      <p>印象を共有し交換することができます</p>
    </p>
    <%= link_to "Start" ,"/books" %>
  </body>
</html>